/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
firebase-practice-297916-e0725c03baa0.json
.idea/
access.log
error.log
storage/
